[build]
builder = "nixpacks"

[deploy]
startCommand = "cd v2-demo && npm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"

